* {
    margin: 0px;
}

#wallpaper_home {
    transform:scaleX(-1);
    width: 100%;
    z-index: -1;
    position: absolute;
}

body {

    height: 100%;
    width: 100%;
}

#icon {
    width: 100px;
    height: 100px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkorchid;
}

/* #grid_wrapper_hem {
    display: grid;
    grid-template-areas: 
    "oo oo"
    "ha oo"
    "oo oo"
    "ff ff";
    /* ska se till att texten och "boka besök" knappen finns i "ha" 
} */

#text_hem {

    /* background: url("../img/placeholder/1Der5Dkw60.jpg"); */
    margin-left: 15%;
    margin-top: 20%;
    margin-right: 55%;
    color:rgb(209, 51, 51);
    
}

#bakgrund_hem {
    grid-area: oo;
    /* background-image: url("../img/placeholder/b5eAGLVpPl.jpg"); */
    
}

#title_home{
    font-size: 40px;
    color:rgb(227, 83, 83);
    margin-bottom: 10px;
}

h1 {
    color: darkslateblue;
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color:darkcyan;
    margin-top: 38%;
}