* {
    margin: 0px;
}


#body_hem {
    background-image:url("../img/unsplash/main_wallpaper_reversed.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#icon {
    width: 100px;
    height: auto;
}

#body_om_oss {
    background-image: url("../img/unsplash/yu-wang-kZMZxiaxkaM-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    grid-area: he;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(219, 171, 229);
}

#grid_wrapper_hem {
    display: grid;
    grid-template-areas: 
    "he he"
    "ha ha"
    "tv bb"
    "oo oo"
    "fo fo";
}



#text_vanster {
    grid-area: tv;
    width: 500px;
    margin-left: 15%;
    margin-top: 20%;
    color:rgb(209, 51, 51);
    padding-bottom: 30%;
    -webkit-text-stroke:#000 0.5px;

}

#boka_biljett {
    grid-area: bb;
    display: flex;
    justify-content: center;
    background-color: green;
    margin-top: 20%;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
}

#biljett_text {
    display: flex;
    align-items: center;
    font-size: 30px;
    color:lawngreen;
}

#title_home{
    font-size: 40px;
    color:rgb(227, 83, 83);
    margin-bottom: 10px;
}

h1 {
    color: darkslateblue;
}


footer {
    grid-area: fo;
    background-color: #333;
    color: white;
    padding: 3%;
    text-align: center;
}

#rubrik_om_oss {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 40px;
}

#brod_text_om_oss {
    color:darkmagenta ;
}

#huvud_artikel {
    grid-area: ha;    
    margin-left: 30%;
    width: 50%;
    margin-bottom: 5%;
    -webkit-text-stroke:#000 0.5px;
}


#card_container {
    grid-area: oo;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 5%;
}

.card {
    box-shadow: 0 4px 8px 0 gray;
    max-width: 300px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    font-family: arial;
    background-color: aliceblue;
}

#restaurang_alfredo {
    font-size: 40px;
    padding-bottom: 100px;
}

.card_img {
    width: 100%;
    height: 200px;
}
  
.card_namn {
    color: #000;
    font-size: 20px;
}
  
.card_jobb {
    margin: 5px;
    font-size: 15px;
    color: gray;
}
  

#meny-sektion {
    background: linear-gradient(to bottom, white, #99CCFF, #CCFFCC);
    padding: 50px;
    text-align: center;
}

.meny-ratt {
    border: 1px solid gray;
    display: inline-block;
    margin-top: 100px;
    margin-inline: 50px;
    padding: 10px;
    width: 200px;
}